<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search department...">
</mat-form-field>


<mat-table [dataSource]="listData" class="mat-elevation-z8" matSort>
    <!-- Position Column -->
    <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef> Options</mat-header-cell>
        <mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="onEdit(row)"> 
            <mat-icon> launch </mat-icon></button>

            <button mat-icon-button color="warn" (click)="onDelete(row.DepartmentID)"> 
            <mat-icon> delete_outline </mat-icon></button>
        </mat-cell>


    </ng-container>


    <ng-container matColumnDef="DepartmentID">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Department ID </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.DepartmentID}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="DepartmentName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Department Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.DepartmentName}} </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<button class="mt-2" mat-raised-button (click)="onAdd()" color="primary">Add Department</button>